#capacity {
	height: inherit;
}
#header {
	background: #cccccc;
	height:120px;
	border:solid 1px #73c8f0;
	border-radius: 5px;
}
#footer {
	background: #00BFFF;
	height: 100px;
	position: relative;
	margin-top: -15px;
	border:solid 1px #73c8f0;
	border-radius: 5px;
}

#header-span {
	background: #cccccc;
	position: relative;
	margin-top: 45px;
	margin-left: 20px;
	z-index: 2;
}

#create-type {
	text-align: center;
	width: 300px;
	height: 100px;
	background: #aaaaaa;
	position: absolute;
	margin-top: -29px;
	margin-left: 149px;
	border:solid 1px #73c8f0;
	border-radius: 5px;
	display: none;
	
}

#create-subtype {
	text-align: center;
	width: 300px;
	height: 100px;
	background: #aaaaaa;
	position: absolute;
	border:solid 1px #73c8f0;
	border-radius: 5px;
	display: none;
	
}

#delete-type {
	text-align: center;
	width: 300px;
	height: 115px;
	background: #aaaaaa;
	margin-left: 150px;
	position: absolute;
	border:solid 1px #73c8f0;
	border-radius: 5px;
	display: none;
}

#delete-subtype {
	text-align: center;
	width: 300px;
	height: 115px;
	background: #aaaaaa;
	margin-left: 175px;
	position: absolute;
	border:solid 1px #73c8f0;
	border-radius: 5px;
	display: none;
}



#avt {
	/* display: none; */
	
}

#gruz {
	/* display: none; */
	
}

#new-category {
	/* display: none; */
	
}

#but {
	text-align: center;
}

#buttons {
	float: right;
}

#gruz {
	display: none;
}
#trans {
	/* display: none; */
}
#equipment {
	display: none;
}
#buttons-gruz {
	display: none;
}
#buttons-trans {
	display: none;
}
#buttons-sub, #buttons-sub1 {
	display: none;
}
#input-new {
	margin-left: -5px;
	width: 110px;
	height: 20px;
}




/**************************************/
/**************************************/
/******        new style       ********/
/**************************************/
/**************************************/
.gray{
	background-color: gray;
}

.borderDesc {
	background-color: green;
	text-align: center;
}

.gray, .borderDesc {
	height: 35px;
	width: 35px;
	min-height: 30px;
	min-height: 30px;
}


/* фигуры*/
.shape_black_turm {
	background-image: url("../../resources/img/alpha_small.png");
	background-position: -112px 0px;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
	
}
.shape_black_elephant {
	background-image: url("../../resources/img/alpha_small.png");
	background-position: -149px 0px;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
}
.shape_black_horse {
	background-image: url("../../resources/img/alpha_small.png");
	background-position: -39px 0px;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
}
.shape_black_queen {
	background-image: url("../../resources/img/alpha_small.png");
	background-position: -1px 0px;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
}
.shape_black_king {
	background-image: url("../../resources/img/alpha_small.png");
	background-position: -75px 0px;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
}
.shape_black_pawn {
	background-image: url("../../resources/img/alpha_small.png");
	background-position: -185px 0px;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
}


.shape_white_turm {
	background-image: url("../../resources/img/alpha_small.png");
	background-position: -112px -45px;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
	
}
.shape_white_elephant {
	background-image: url("../../resources/img/alpha_small.png");
	background-position: -149px -45px;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
}
.shape_white_horse {
	background-image: url("../../resources/img/alpha_small.png");
	background-position: -39px -45px;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
}
.shape_white_queen {
	background-image: url("../../resources/img/alpha_small.png");
	background-position: -1px -45px;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
}
.shape_white_king {
	background-image: url("../../resources/img/alpha_small.png");
	background-position: -75px -45px;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
}
.shape_white_pawn {
	background-image: url("../../resources/img/alpha_small.png");
	background-position: -185px -45px;
	background-repeat: no-repeat;
	width: 35px;
	height: 35px;
	display: inline-block;
}

.password, .id {
	display: none;
}

.link_fake {
	margin-left : 160px;
	cursor:pointer;
	color: blue;
}
.choose_title {
	text-align: center;
	margin-left: 230px;
}

.you_come_how {
	display: none;
}